/* ----------------------------------------------

 ------------------------------------------------ */
 
/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 

/* Top Elements */
* {
	outline: 0px;
	margin: 0px;
	padding: 0px;
}

/*html { background: #010000 url(bg.gif) repeat-x; }*/

body {
	font: 12px/165% 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
	color: #5E5E5E;
	margin: 0;
	padding: 0;
	background: #010000 url(bg2.jpg) no-repeat center top;
	text-align: left;
}

/* Links */
a, a:visited {
	text-decoration: none;
	color: #999999;
}
a:hover {
	color: #fff;
	border-bottom: 1px dotted #438800;
}

/* headers */
h1, h2, h3 {
	font-family: 'Trebuchet MS', Helvetica, Tahoma, Arial, Sans-serif;
	color: #FAFAFA;
}
h1 {
	font-size: 3.1em;	
	letter-spacing: -2px;
	padding: 15px 10px 5px 10px;	
}
h2 {
	font-size: 2em;
	color: #895F30;
	padding: 20px 10px 5px 10px;	
}
h3 {
	font-size: 1.7em;	
	font-weight: normal;
	padding: 20px 10px 5px 10px;		
}

h4 {
	margin: 15px 5px 10px 5px;
	font-size: 1.5em;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	color: #F90;
	border-bottom: 1px solid #121212;
/*	background: #090909; */
}
h5 {
	display: block;
	
}

p, dl {
	padding: 10px;
	margin: 0px 0px 0px 0px;
}

ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}
ul { list-style: none; }

dt {
  font-weight: bold;
  color: #FAFAFA;
}
dd {
  padding-left: 25px; 
}

/* images */
img {
	margin: 0px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
	margin: 10px 10px 10px 0px;
	border: 1px solid #333;
	caption-side: bottom;
	text-align: center;
}

code {
  	margin: 5px 0;
  	padding: 15px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;
  	/* white-space: pre; */
  	background: #070707;
	border: 1px solid #111;   
}
acronym {
  	cursor: help;
  	border-bottom: 1px dotted #5B5B5B;
}
blockquote {
	margin: 15px 10px;
 	padding: 10px 10px 10px 35px;  
   background: #070707 url(quote.gif) no-repeat 10px 10px;
	border: 1px solid #111; 
	font-weight: normal;
	font-size: 17px;
	line-height: 1.6em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;	
	color: #808080;	
}

/* start - table */
table {
	margin: 15px 10px; 
	border-collapse: collapse;			
}
th {
	background: #000;
	color: #FAFAFA;
	height: 38px;
	padding-left: 12px;
	padding-right: 12px;	
	text-align: left;
	border-left: 1px solid #211E20;
	border-right: 1px solid #211E20;
	border-bottom: 1px solid #211E20; 
	border-top: 1px solid #48780E;
}
tr {
	color: #5b5b5b;
	height: 34px;		
}
td {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #111;	
	background: #070707; 
}
/* end - table */


/* form elements */
form {
	margin: 20px 10px; 
	padding: 15px 25px 25px 20px; 
	background: #070707; 	
	border: 1px solid #111;	
}
form p {
	border-bottom: 1px solid #101010;
	padding: 12px 0 5px 0;	margin: 0;	
}
label {
	font-weight: bold;	
	color: #FAFAFA;
}
input, select, textarea {
	margin: 5px 0;
	padding: 5px;
	font: normal 1em Verdana, Tahoma, sans-serif;
	color: #6A6969;
	background: #0C0C0C;  
	border: 1px solid #1C1C1C;
}
option { padding-right: 0.5em; } 

#name, #email, #message{
	width: 480px;
}
input.button { 
	font: bold 12px Arial, Verdana, Sans-serif; 
	height: 30px;
	padding: 2px 3px; 
	margin-top: 8px;
	color: #48780E;
	background: #000;
	border-width: 1px;
  	border-style: solid;
  	border-color: #1B1B1B;
}


/* ------------------------------------------
   LAYOUT
------------------------------------------- */ 
#wrap {
	width: 950px;
	margin: 0 auto;
	text-align: left;
}
#content-wrap {
	clear: both;
	width: 950px;
	float: left;
	padding-top: 15px;
	padding-bottom: 50px;
/*	border-top: 1px solid #121212;*/
	border-top: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                        from(black), to(white), 
                        color-stop(.5,black), color-stop(.51,white)
                    );

	border-bottom: 1px solid #121212;
	background-image: none;
	background-repeat: repeat-y;
	background-position: 600px 0;
}
#header {
	position: relative;
	width: 950px;
	height: 340px;
	margin: 0;
	padding: 0;
}
#header h1#logo-text a {
	position: absolute;
	margin: 0;
	padding: 0;
	font: bold 65px 'Trebuchet MS', Tahoma, Helvetica, Arial, Sans-serif;
	letter-spacing: -1.5px;
	color: #F8F8F8;
	text-decoration: none;
	text-transform: none;
	/* change the values of top and left to adjust the position of the logo*/
	top: 83px;
	left: 0px;
}
#header h1#logo-text a:hover {
	background: none;	border: none;
}
#header p#intropic {
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5em;
	font-style: normal;
	text-transform: none;
	color: #CCCCCC;
	width: 350px;
	/* change the values of top and left to adjust the position */
	top: 283px;
	left: 91px;
	height: 30px;
}

#header p#intro-pic {
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5em;
	font-style: normal;
	text-transform: none;
	color: #CCCCCC;
	width: 350px;
	/* change the values of top and left to adjust the position */
	top: 246px;
	left: 19px;
	height: 30px;
}

#header p#intro {
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5em;
	font-style: normal;
	text-transform: none;
	color: #CCCCCC;
	width: 400px;
	/* change the values of top and left to adjust the position */
	top: 315px;
	left: 122px;
}

#header p#author {
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5em;
	font-style: normal;
	text-transform: none;
	color: #CCCCCC;
	width: 79px;
	/* change the values of top and left to adjust the position */
	top: 313px;
	left: 138px;
}

/*  Navigation  */
#nav {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 50px;
	left: 31px;
	top: 35px;
}
#nav ul {
	float: left;
	list-style: none;
	height: 50px;
	margin: 0 0 0 5px; padding: 0;	
	display: inline;
}
#nav ul li {
	display: inline;
	margin: 0; padding: 0;
}
#nav ul li a {
	float: left;
	margin: 0;
	padding: 0 12px;
	font: bold 15px/50px 'Trebuchet MS', Helvetica, Arial, Geneva, sans-serif;
	text-decoration: none;
	color: #C60;
	text-transform: uppercase;
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #C90;
	background: none;
	border: none;
}
#nav ul li#current a {
	color: #990000;
}

/* Main Column */
#main {
	float: left;
	width: 565px;
	padding: 0; margin: 0 0 0 10px;
	display: inline;		
}
#main h2 {
	padding: 5px 12px;
	margin: 15px 5px 10px 5px;
	font: bold 2.4em 'Trebuchet MS', Helvetica, Arial, sans-serif;
	color: #FF9900;
	border-bottom: 1px solid #121212;
/*	background: #111111; */
	font-size: 24px;
/*	background-image: url(pattern.gif);	*/
}
#main h2 a {
	color: #FF9900;
	text-decoration: none;
	border: none;
	font-size: 24px;
}
#main ul li {
	list-style-image: url(bullet.gif);
}

/* Sidebar */	
#sidebar {
	float: right;
	width: 300px;
	padding: 0; margin: 0px 18px 0 0;		
	display: inline;	
}	
#sidebar h3 {
	padding: 5px 12px;
	margin: 30px 5px 10px 0;
	font: bold 2.4em 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif;
	color: #CC6600;
	border-bottom: 0px solid #121212;
	background-image: none;
}
#sidebar ul.sidemenu {
	text-align: left;
	margin: 20px 5px 20px 0px; 
	padding: 0;		
	border-top: 1px solid #111;		
}
#sidebar ul.sidemenu li {
	list-style: none;
	padding: 8px 10px;
	margin: 0;		
	border-bottom: 1px solid #111;
}
* html body #sidebar ul.sidemenu li {
	height: 1%;
}
#sidebar ul.sidemenu li a {
	text-decoration: none;
	border: none;
	color: #666666;
	font-weight: bold;
	font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial, Sans-serif;
	font-size: 14px;
	line-height: 0px;
}
#sidebar ul.sidemenu li a span {
	color: #444;	
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: normal;	
	font-size: 11px;
}
#sidebar ul.sidemenu li a:hover,
#sidebar ul.sidemenu li a:hover span {	
	color: #fff;	
}
#sidebar ul.sidemenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.sidemenu ul li { border: none; }

/* header quick search */
#sidebar form#quick-search {
	padding: 0; margin: 20px 0 35px 0;
	border: none;
	width: 290px; height: 33px;
	background: url(header-search.gif) no-repeat;		
}
#sidebar form#quick-search p {
	margin: 0; padding: 0;		
}
#sidebar form#quick-search input {
	float: left;
	border: none;
	background: transparent;
	color: #4E4E4E;	
	margin: 0;
}
#sidebar form#quick-search .tbox {
	margin: 5px 0 0 5px; 
	width: 240px;	
	display: inline;	
}
#search form#quick-search .btn{
	width: 24px; height: 24px;			
}
#sidebar form#quick-search label {
	display: none;
}

/* footer */
#footer {
	clear: both;
	padding: 1em 0 2.5em 0;
	background: #010000;
	color: #4E4E4E;
	width: 100%;
	float: left;
	border-top-width: 1px;
	border-bottom-width: 60px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #010000;
	border-bottom-color: #010000;
}
#footer a {
	color: #990000;
	border: none;
}
#footer a:hover {
	color: #990000;
}
#footer .rssfeed {
	background: url(rss.gif) no-repeat left 1px;
	padding-left: 17px;
}
#footer-left {
	float: left;
	width: 70%;
}
#footer-right {
	float: right;
	width: 25%;
}

/* postmeta */
.postmeta {	
	padding: 7px 5px; margin: 20px 10px 30px 10px;	
	font-size: 1em;	
	color: #545454;
	border: 1px solid #111; 
	background: #070707; 
}
.postmeta .date{ margin: 0 10px 0 5px;	}
.postmeta a.comments { margin: 0 10px 0 5px;	}
.postmeta a.readmore { margin: 0 10px 0 5px;	}

.post-info { font-size: .95em; padding-top: 3px; margin-left: 5px; color: #444;	}
.post-info a, .post-info a:visited { color: #AE275A; }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.no-border { border: none; }
.clearer { clear: both; }
.clear {	display:inline-block; }
.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: "."; 
}.Boxed {
	border: 1px solid #999;
	padding: 0px;
}
.redtext {
	color: #903;
	font-size: 0.95em;
	margin-left: 5px;
}
.video {
	border: 1px solid #090909;

}

<style type="text/css">
.picture { background-color: #F9F9F9;
border: 1px solid #CCCCCC; padding: 3px;
font: 11px/1.4em Arial, sans-serif; }
.picture img {
	border: 1px solid #CCCCCC;
	vertical-align:middle;
}
.right { margin: 0.5em 0pt 0.5em 0.8em; float:right; }
.left { margin: 0.5em 0.8em 0.5em 0; float:left; }
</style>
.centre {
	text-align: center;
	margin-top: 0px;
}
.centre {
	text-align: center;
}
.profiletext {
	font-style: italic;
	display: block;
	line-height: 25px;


}
.Image {

}
